/*ESTILOS PARA EL CUERPO DE LA PAGINA*/
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
}

/*ESTILOS DEL HEADER*/
.logo-img {
    width: 100px;
    height: 80px;
    padding-left: 50px
}


.botones {
    display: flex;
    align-items: center;
}

.boton {
    margin-right: 20px;
    padding: 5px 10px;
    background-color: #ffffff;
    color: black; 
    font-family: Arial, sans-serif; 
    cursor: pointer;
    border-radius: 5px;
    border: black 5px double; 
}

.boton p {
    margin: 0;
}
header {
    width: 100%;
}
header .pin-logo{
    height: 30px;
    width: 30px;
}

.cabecera_sup {
    background-color: rgb(255, 255, 255);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
}

.cabecera_roja {
    background-color: rgb(117, 0, 0);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
}


.bloques {
    flex: 1;
    box-sizing: border-box;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
}

.enlace-blanco {
    color: white;
    text-decoration: none; 
}

/*ESTILOS PARA LA PRIMERA SECCION (se compone de una imagen que ocupa casi todo con la palabra Menus dentro)*/
.menus {
    display: flex;
    align-items: center;
    margin: 20px 0;
    background-image: url('../IMG/HAMBURGUESA_LOGO.PNG');
    background-size: cover;
    border-radius: 10px;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 550px;
}

.menus .texto-caja {
    padding: 20px;
    text-align: center;
    margin-bottom: 210px;
    margin-left: 700px;

}

/*ESTILOS PARA LA PRIMERA SECCION (se compone de una imagen que ocupa casi todo con la palabra Menus dentro)*/
.guarniciones {
    display: flex;
    align-items: center;
    margin: 20px 0;
    background-image: url('../IMG/PATATAS_LOGO.PNG');
    background-size: cover;
    border-radius: 10px;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 550px;
}

.guarniciones .texto-caja {
    padding: 20px;
    text-align: center;
    margin-bottom: 210px;
    margin-left: 700px;

}

.guarnicion-texto h2 {
    font-size: 100px;
    text-align: center;
    color: rgb(224, 177, 21);
    margin-bottom: 180px;
    margin-top: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/*ESTILOS DE LA CAJA DE CADA MENU*/
.guarniciones .texto-caja h2 {
    font-size: 145px;
    margin-right: 200px;
    color: aliceblue;
    margin-bottom: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.apartado-guarniciones  {
    background-color: #ffffff;
    margin-left: 300px;
    margin-right: 450px;
    text-align: center;
    display: grid;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas */
    grid-gap: 50px;
}

/*ESTILOS PARA LA SECCION POSTRES (se compone de una imagen que ocupa casi todo con la palabra Menus dentro)*/
.postres {
    display: flex;
    align-items: center;
    margin: 20px 0;
    background-image: url('../IMG/POSTRES_LOGO.PNG');
    background-size: cover;
    border-radius: 10px;
    align-items: center;
    overflow: hidden;
    width: 100%;
    height: 550px;
}

.postres .texto-caja {
    padding: 20px;
    text-align: center;
    margin-bottom: 210px;
    margin-left: 700px;

}

.postres-texto h2 {
    font-size: 100px;
    text-align: center;
    color: rgb(21, 200, 224);
    margin-bottom: 180px;
    margin-top: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/*ESTILOS DE LA CAJA DE CADA POSTRE*/
.postres .texto-caja h2 {
    font-size: 145px;
    margin-right: 200px;
    color: aliceblue;
    margin-bottom: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}


.apartado-postres  {
    background-color: #ffffff;
    margin-left: 300px;
    margin-right: 450px;
    text-align: center;
    display: grid;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas */
    grid-gap: 50px;
}



/*ESTILOS PARA EL BOTON CON NUESTRO LOGO QUE SE USA PARA CAMBIAR DE TIPO DE PRODUCTO*/
.floating-button {
    position: fixed;
    bottom: 30px;
    left: 20px;
    z-index: 9999;
    width: 200px;
    height: auto;
}

.floating-button img {
    width: 100px;
    height: auto;
    border-radius: 100px;
    position: relative;
}

/*ESTILOS DEL MINI MENU DEL BOTON*/
.mini-menu {
    width: 110px;
    height: 300px;
    position: absolute;
    margin-top: -135px;
    right: -20;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    border-color: #f00;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
}

.mini-menu a {
    display: block;
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
}

.mini-menu a:hover {
    background-color: #f0f0f0;
}

.floating-button:hover {
    transform: scale(1.10);
    transition: all 0.7s ease;
}


/*ESTILOS DE LA SECCION DONDE ESTAN LOS MENUS ALMACENADOS */
.apartado-menus  {
    background-color: #ffffff;
    margin-left: 300px;
    margin-right: 450px;
    text-align: center;
    display: grid;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    grid-template-columns: repeat(3, 1fr); /* Tres columnas */
    grid-gap: 50px;
}

.menus-texto h2 {
    font-size: 100px;
    text-align: center;
    color: rgb(138, 22, 22);
    margin-bottom: 180px;
    margin-top: 70px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


/*ESTILOS DE LA CAJA DE CADA MENU*/
.menus .texto-caja h2 {
    font-size: 145px;
    margin-right: 200px;
    color: aliceblue;
    margin-bottom: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

/*ESTILOS DE LOS MENUS*/
.menu-1{
    width: 300px;
    height: 350px;
    margin: 20px;
    border: 5px solid rgb(184, 31, 31);
    border-radius: 1px;
    background-image: url('../IMG/white-2484120_1920.png');
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.menu-img{
    width: 80%;
    height: 60%;
    margin-top: 10px;
    border: 3px solid rgb(116, 10, 10);
}


.menu-1 .precio {
    margin-top: 4%;
    left: 40px;
    font-size: 30px;
    color: #000;
}

/*EL BOTON DE COMPRA DE CADA PRODUCTOO*/
.menu-1 .comprar-btn {
    margin-top: 3%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    right: 30px;
    size: 25px;
    padding: 10px 20px;
    background-color: rgb(206, 8, 8);
    color: #fff;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    opacity: 0; /* Oculta el botón inicialmente */
    transition: opacity 0.3s ease;
}

.menu-1:hover {
    transform: scale(1.04);
    background-image: url("../IMG/gris.PNG");
    transition: background-image 0.9s ease;

}

.menu-1:hover .comprar-btn {
    opacity: 1;
}


/*ESTILOS DE LAS GUARNICIONES*/
.guarnicion-1{
    width: 300px;
    height: 350px;
    margin: 20px;
    border: 5px solid rgb(241, 162, 59);
    border-radius: 1px;
    background-image: url('../IMG/white-2484120_1920.png');
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.guarnicion-img{
    width: 80%;
    height: 60%;
    margin-top: 10px;
    border: 3px solid rgb(194, 104, 2);
}


.guarnicion-1 .precio {
    margin-top: 4%;
    left: 40px;
    font-size: 30px;
    color: #000;
}

/*EL BOTON DE COMPRA DE CADA PRODUCTO ----(GUARNICIONES)----*/
.guarnicion-1 .comprar-btn {
    margin-top: 3%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    right: 30px;
    size: 25px;
    padding: 10px 20px;
    background-color: rgb(219, 168, 0);
    color: #fff;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    opacity: 0; /* Oculta el botón inicialmente */
    transition: opacity 0.3s ease;
}


.guarnicion-1:hover {
    transform: scale(1.04);
    background-image: url("../IMG/gris.PNG");
    transition: background-image 0.9s ease;

}

.guarnicion-1:hover .comprar-btn {
    opacity: 1;
}



/*ESTILOS DE LOS POSTRES*/
.postre-1{
    width: 300px;
    height: 350px;
    margin: 20px;
    border: 5px solid rgb(72, 199, 178);
    border-radius: 1px;
    background-image: url('../IMG/white-2484120_1920.png');
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.postre-img{
    width: 80%;
    height: 60%;
    margin-top: 10px;
    border: 3px solid rgb(85, 194, 194);
}


.postre-1 .precio {
    margin-top: 4%;
    left: 40px;
    font-size: 30px;
    color: #000;
}

/*EL BOTON DE COMPRA DE CADA PRODUCTO ----(POSTRES)----*/
.postre-1 .comprar-btn {
    margin-top: 3%;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    right: 30px;
    size: 25px;
    padding: 10px 20px;
    background-color: rgb(0, 204, 219);
    color: #fff;
    border-radius: 30px;
    border: none;
    cursor: pointer;
    opacity: 0; /* Oculta el botón inicialmente */
    transition: opacity 0.3s ease;
}





.postre-1:hover {
    transform: scale(1.04);
    background-image: url("../IMG/gris.PNG");
    transition: background-image 0.9s ease;

}

.postre-1:hover .comprar-btn {
    opacity: 1;
}

/*ESTILOS PARA LAS VENTANAS QUE APARECEN AL CLICKAR EN LOS PRODUCTOS*/
.ventana-emergente {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 9999;
    overflow: auto;
}

.contenido-ventana {
    background-color: #fff;
    max-width: 80%;
    max-height: 80%;
    overflow-y: auto;
    padding: 20px;
    border-radius: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.cerrar {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
    font-weight: bold;
    color: #000;
}

.imagenMenu {
    display: block;
    margin: 10px auto;
    max-width: 80%;
    max-height: 300px;
    border-radius: 10px;
}






/*ESTILOS PARA EL CARRITO*/
.carrito {
    position: fixed;
    top: 18%;
    right: 20px; 
    background-color: #fff;
    border: 2px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    width: 310px;
    overflow-y: auto;
    z-index: 1000;
    color: #333;
}

.carrito h3 {
    margin-top: 0;
}

#lista-productos {
    list-style: none;
    padding: 0;
    margin: 10px 0;
}

#lista-productos li {
    margin-bottom: 5px;
}

#comprar-todos-btn {
    display: block;
    width: 100%;
    padding: 5px;
    background-color: rgb(172, 11, 11);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s;
}

#comprar-todos-btn:hover {
    background-color: #d00;
}

.carrito img{
    height: 20px;
    width: 20px;
}

.precio-total{
    position: absolute;

}

/*ESTILOS FOOTER*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #8b0606;
    padding: 1rem;
    color: #fff;
}
footer .x-logo{
    height: 30px;
    width: 30px;
}
footer .insta-logo{
    height: 40px;
    width: 40px;
}
footer .face-logo{
    height: 40px;
    width: 40px;
}
