/*ESTILOS DEL HEADER*/
.logo-img {
    width: 100px;
    height: auto;
    padding-left: 50px;
}

.botones {
    display: flex;
    align-items: center;
}

.boton {
    margin-right: 20px;
    padding: 5px 10px;
    background-color: #ffffff;
    color: black;
    font-family: Arial, sans-serif;
    cursor: pointer;
    border-radius: 5px;
    border: black 5px double;
}

.boton p {
    margin: 0;
}

header {
    width: 100%;
}

header .pin-logo {
    height: 30px;
    width: 30px;
}

.cabecera_sup {
    background-color: rgb(255, 255, 255);
    color: black;
    padding: 10px 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
}

.cabecera_roja {
    background-color: rgb(117, 0, 0);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 35%;
    padding-right: 30%;
}


.bloques {
    flex: 1;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
}

.enlace-blanco {
    color: white;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.contenedor {
    flex: 1;
}

footer {
    background-color: #a7a7a7;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
    height: 100px;
    width: auto;
}

.menus-container {
    display: flex;
    margin-top: 80px;
    justify-content: center;
    flex-wrap: wrap;
}

.menu-item-destacado1,
.menu-item-destacado2,
.menu-item-destacado3,
.menu-item-destacado4 {
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 100px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.menu-item-destacado1:hover,
.menu-item-destacado2:hover,
.menu-item-destacado3:hover,
.menu-item-destacado4:hover {
    transform: scale(1.10);
}

.line {
    border: none;
    border-top: 3px solid black;
    width: 60%;
    margin: 0 auto;
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 6px;
}

/*ESTILOS FOOTER*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #8b0606;
    padding: 1rem;
    color: #fff;
}

footer .x-logo {
    height: 30px;
    width: 30px;
}

footer .insta-logo {
    height: 40px;
    width: 40px;
}

footer .face-logo {
    height: 40px;
    width: 40px;
}

.carousel {
    padding-top: 1%;
    padding-bottom: 1%;
    max-width: 800px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.carousel img {
    max-width: 100%;
    height: auto;
}

#imagen {
    width: 100%;
    height: 500px;
    background-size: cover;
}

#flecha {
    width: 20px;
    height: 20px;
}

.publicidad {
    align-content: center;
    padding-left: 20%;
    padding-right: 20%;
}

.cajas {
    align-content: center;
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    margin: 10px;
    padding: 25px;

}

.subcaja {
    width: 100%;
    height: 100%;
    padding: 25px;

}

.subcaja h1 {
    padding-top: 13px;
    font-size: 4ch;
    font-family: Arial, Helvetica, sans-serif;
}

.subcaja p {
    padding-top: 14px;
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}

.subcaja2 {
    width: 50%;
    height: 50%;
    padding: 25px;
    border: 5px solid pink;
}


    .place-order-options {
        display: none;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: absolute;
        top: 13.2%;
        left: 46%;
        width: 8%;
    }

    .place-order-options a {
        font-size: 1rem; /* Ajustado a rem para mejor escalabilidad */
        background: rgb(241, 241, 239);
        color: maroon;
        width: 100%;
        cursor: pointer;
        border-radius: 4px; /* Bordes redondeados */
        margin: 5px 0; /* Espaciado entre botones */
        text-align: center; /* Centra el texto dentro de los enlaces */
        text-decoration: none; /* Quita la decoración de enlaces */
        padding: 10px; /* Añade padding para hacer los botones más clicables */
        transition: background-color 0.3s ease; /* Transición para mejor experiencia de usuario */
    }
    
    .place-order-options a:hover {
        background-color: rgb(210, 210, 210); /* Cambio de color al pasar el ratón */
    }
    
    .place-order-options button {
        font-size: inherit;
        background: inherit;
        color: inherit;
        border: inherit;
        width: 100%;
        cursor: inherit;
        padding: 0; /* Elimina el padding adicional */
        text-align: inherit;
        margin: 0; /* Elimina el margen adicional */
    }




/* Estilos para pantallas de hasta 768px de ancho (móviles) */
@media (max-width: 768px) {
    /*HEADER*/
    header {
        flex-direction: column;
        padding: 10px;
    }

    .logo-img {
        width: 80px;
    }

    .cabecera_sup {
        flex-direction: row;
        font-size: medium;
        padding: 10px;
    }

    .cabecera_roja {
        flex-direction: column;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 5%;
    }

    .bloques {
        padding-bottom: 5%;
    }

    .botones {
        margin-left: 0%;
        align-items: center;
    }

    .boton {
        margin-right: 10%;
        margin-bottom: 10px;
    }

    .place-order-options {
        position: static; 
        width: auto; 
        padding: 20px; 

    }

    .place-order-options a {
        font-size: 0.9rem; 
        padding: 8px; 
    }
    /*FIN HEADER*/

    .carousel {
        flex-direction: column;
    }

    .carousel img {
        width: 100%;
    }

    .publicidad {
        padding-left: 5%;
        padding-right: 5%;
    }

    .cajas {
        flex-direction: column;
        margin: 10px 0;
    }

    .subcaja {
        padding: 15px;
    }

    .subcaja h1 {
        font-size: 3ch;
    }

    .subcaja p {
        font-size: 16px;
    }
    
    .publicidad img,
    #flecha {
        width: 100%;
        height: auto;
    }
}

/* Estilos para pantallas de hasta 480px de ancho (móviles pequeños) */
@media (max-width: 480px) {
    .logo-img {
        width: 80px;
    }

    .boton {
        width: 100%;
        text-align: center;
    }

    .cabecera_sup {
        font-size: small;
    }

    .cabecera_roja {
        padding-left: 5%;
        padding-right: 5%;
    }

    .menu-item-destacado1,
    .menu-item-destacado2,
    .menu-item-destacado3,
    .menu-item-destacado4 {
        width: 150px;
        height: 150px;
        margin: 10px;
    }

    #imagen {
        height: 300px;
    }

    .publicidad img,
    #flecha {
        width: 100%;
        height: auto;
    }
}
