body {
    font-family: Arial, sans-serif;
    margin-left: 12%;
    margin-right: 12%;
    padding: 0;
    background-color: #f4f4f4;
}
.encabezado {
    text-align: center;
    background-image: url(/IMG/fondowho.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px 0;
    height: 40%;
}

h1 {
    color: #fff; 
    font-size: 85px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 20%;
}
.espaciadorrojo {
    display: flex;
    justify-content: space-between;
    background-color: rgb(199, 30, 50);
    padding: 50px;
}

.espaciadorrojo_izquierda p {
    position: absolute;    
    font-size: 80px; 
    color: #fff; 
    padding: 30px 50% 2px 20px; 
    margin: 20px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.espaciadorrojo_derecha p {
    font-size: 20px; 
    color: #fff; 
    margin: 10px; 
    padding: 2px 2px 2px 40%; 
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.historia{
    padding: 20%;
    background-image: url(/IMG/joinUs.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;  
    
    
}


.cuadroblanco{
    background-color: #f4f4f4cb;
    border: solid 2px black;
    
    padding: 2%;

}
.botonredirect{
    justify-content: space-between;
    padding-top: 3%;
    width: 50%;
    display: flex;
    align-items: center;  
}
.historia h2 {
    color: #000;
    font-size:xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.historia p{
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #555;
}


/*ESTILOS DEL HEADER*/
.logo-img {
    width: 100px;
    height: 80px;
    padding-left: 50px
}


.botones {
    display: flex;
    align-items: center;
}

.boton {
    margin-right: 20px;
    padding: 5px 10px;
    background-color: #ffffff;
    color: black; 
    font-family: Arial, sans-serif; 
    cursor: pointer;
    border-radius: 5px;
    border: black 5px double; 
}

.boton p {
    margin: 0;
}
header {
    width: 100%;
}
header .pin-logo{
    height: 30px;
    width: 30px;
}

.cabecera_sup {
    background-color: rgb(255, 255, 255);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
}

.cabecera_roja {
    background-color: rgb(117, 0, 0);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
}


.bloques {
    flex: 1;
    box-sizing: border-box;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
}

.enlace-blanco {
    color: white;
    text-decoration: none; 
}

/*ESTILOS FOOTER*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #8b0606;
    padding: 1rem;
    color: #fff;
}
footer .x-logo{
    height: 30px;
    width: 30px;
}
footer .insta-logo{
    height: 40px;
    width: 40px;
}
footer .face-logo{
    height: 40px;
    width: 40px;
}
