body {
    font-family: Arial, sans-serif;
    padding: 0;
    background-color: #f4f4f4;
}
.encabezado {
    text-align: center;
    background-image: url('../IMG/fondowho.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    padding: 100px 0;
    height: 40%;
}

.place-order-options {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 13.2%;
    left: 46%;
    width: 8%;
}

.place-order-options a {
    font-size: large;
    background: rgb(241, 241, 239);
    color: maroon;
    border: solid maroon;
    width: 100%;
    cursor: pointer;
    border-radius: 4%;
}

.place-order-options button {
    font-size: inherit;
    background: inherit;
    color: inherit;
    border: inherit;
    width: inherit;
    cursor: inherit;
}

h1 {
    color: #fff; 
    font-size: 85px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-top: 20%;
}
.espaciadorrojo {
    display: flex;
    background-color: rgb(199, 30, 50);
    padding-top: 12%;
    padding-bottom: 12%;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.contenedor-rojo{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 70%;
    text-align: center;
    align-self: center;
}

.espaciadorrojo_izquierda p {
    font-size: 80px; 
    color: #fff;  
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.espaciadorrojo_derecha p {
    font-size: 20px; 
    color: #fff; 
    padding-top: 5%;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.historia{
    padding: 20%;
    background-image: url('../IMG/joinUs.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;  
    
    
}


.cuadroblanco{
    background-color: #f4f4f4cb;
    border: solid 2px black;
    
    padding: 2%;

}
.botonredirect{
    align-content: right;
    padding-top: 3%;
    width: 50%;
    display: flex;
    justify-content: flex-end;
}
.historia h2 {
    color: #000;
    font-size:xx-large;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.historia p{
    color: #000;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.button {
    display: inline-block;
    background-color: #000;
    color: #fff;
    padding: 15px 25px;
    text-decoration: none;
    border-radius: 5px;
    transition: background-color 0.3s;
}

.button:hover {
    background-color: #555;
}


/*ESTILOS DEL HEADER*/
.logo-img {
    width: 100px;
    height: 80px;
    padding-left: 50px
}


.botones {
    display: flex;
    align-items: center;
}

.boton {
    margin-right: 20px;
    padding: 5px 10px;
    background-color: #ffffff;
    color: black; 
    font-family: Arial, sans-serif; 
    cursor: pointer;
    border-radius: 5px;
    border: black 5px double; 
}

.boton p {
    margin: 0;
}
header {
    width: 100%;
}
header .pin-logo{
    height: 30px;
    width: 30px;
}

.cabecera_sup {
    background-color: rgb(255, 255, 255);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
}

.cabecera_roja {
    background-color: rgb(117, 0, 0);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
}


.bloques {
    flex: 1;
    box-sizing: border-box;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
}

.enlace-blanco {
    color: white;
    text-decoration: none; 
}

/*ESTILOS FOOTER*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #8b0606;
    padding: 1rem;
    color: #fff;
}
footer .x-logo{
    height: 30px;
    width: 30px;
}
footer .insta-logo{
    height: 40px;
    width: 40px;
}
footer .face-logo{
    height: 40px;
    width: 40px;
}



/* Estilos para pantallas de hasta 768px de ancho (móviles) */
@media (max-width: 768px) {
    /*HEADER*/
    header {
        flex-direction: column;
        padding: 10px;
    }

    .logo-img {
        width: 80px;
    }

    .cabecera_sup {
        flex-direction: row;
        font-size: medium;
        padding: 10px;
    }

    .cabecera_roja {
        flex-direction: column;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 5%;
    }

    .bloques {
        padding-bottom: 5%;
    }

    .botones {
        margin-left: 0%;
        align-items: center;
    }

    .boton {
        margin-right: 10%;
        margin-bottom: 10px;
    }

    .place-order-options {
        position: static; 
        width: auto; 
        padding: 20px; 

    }

    .place-order-options a {
        font-size: 0.9rem; 
        padding: 8px; 
    }
    /*FIN HEADER*/
    
/* Estilos para pantallas de hasta 768px de ancho (móviles) */
@media (max-width: 768px) {


    .cuadroblanco{
        padding: 14%;
    }
}

    

}
/* Estilos para pantallas de hasta 480px de ancho (móviles pequeños) */
@media (max-width: 480px) {
    .logo-img {
        width: 80px;
    }

    .boton {
        width: 100%;
        text-align: center;
    }

    .cabecera_sup {
        font-size: small;
    }

    .cabecera_roja {
        padding-left: 5%;
        padding-right: 5%;
    }

    .espaciadorrojo_izquierda {
        width: 90%;
        justify-content: center;
    }
    .espaciadorrojo_izquierda p {
        font-size: 40px;
    }
    .espaciadorrojo_derecha {
        padding-left: 0%;
        justify-content: center;
    }

    .espaciadorrojo_derecha p{
        font-size: smaller;
    }

    


}

@media (max-width: 768px) {







}