body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    padding: 20px;
    height: 100vh;
}

.info-text {
    flex: 1;
    padding: 30px;
    background-color: #f0f0f0;

}

.info-text P {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #ffffff;
}


.info-text h2 {
    margin-top: 0;
    font-size: 100px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #ffffff;
}

.mapa {
    flex: 1;
    padding: 20px;
    background-color: #f9f9f9;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mapa iframe {
    width: 100%;
    height: 100%;
    border: none;
}

@media (max-width: 710px) {
    .container {
        flex-direction: column;
    }
    .contact-info, .map {
        width: 100%;
    }
}

/*ESTILOS DEL HEADER*/
.logo-img {
    width: 100px;
    height: 80px;
    padding-left: 50px
}


.botones {
    display: flex;
    align-items: center;
}

.boton {
    margin-right: 20px;
    padding: 5px 10px;
    background-color: #ffffff;
    color: black; 
    font-family: Arial, sans-serif; 
    cursor: pointer;
    border-radius: 5px;
    border: black 5px double; 
}

.boton p {
    margin: 0;
}
header {
    width: 100%;
}
header .pin-logo{
    height: 30px;
    width: 30px;
}

.cabecera_sup {
    background-color: rgb(255, 255, 255);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
}

.cabecera_roja {
    background-color: rgb(117, 0, 0);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
}


.bloques {
    flex: 1;
    box-sizing: border-box;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
}

.enlace-blanco {
    color: white;
}

.enlace-correo {
    color: rgb(0, 217, 255);
    
}