body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f2f2f2;
}

.empleado-mes {
    display: flex;
    align-items: center; /* Alinea verticalmente los elementos */
    margin: 20px 0;
    background-image: url('/IMG/Fondo-1.PNG'); 
    background-size: cover;
    border-radius: 10px;
    overflow: hidden;
    width: 100%;
    height: 950px;
}

.empleado-mes .image-box {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.empleado-mes .inner-box {
    background-color: rgb(111, 213, 238);
    padding: 20px;
    border-radius: 10px;    
    border-color: rgb(255, 255, 255);
}

.empleado-mes .image {
    padding: 20px;
    border-radius: 3px;
}

.empleado-mes .image img {
    width: 100%;
    border-radius: 15px;
}

.empleado-mes .image p {
    margin-top: 10px;
    font-size: 18px;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;

}

.empleado-mes .description-box {
    flex: 1;
}

.place-order-options {
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 13.2%;
    left: 46%;
    width: 8%;
}

.place-order-options a {
    font-size: large;
    background: rgb(241, 241, 239);
    color: maroon;
    border: solid maroon;
    width: 100%;
    cursor: pointer;
    border-radius: 4%;
}

.place-order-options button {
    font-size: inherit;
    background: inherit;
    color: inherit;
    border: inherit;
    width: inherit;
    cursor: inherit;
}

.empleado-mes .description {
    padding: 20px;
    text-align: center;
    margin-bottom: 210px;
}

.empleado-mes .description h2 {
    font-size: 35px;
    margin-right: 200px;
    color: aliceblue;
    margin-bottom: 10px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.empleado-mes .description p {
    font-size: 16px;
    margin-right: 200px;
    color: azure;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

.apartado-historia {
    background-color: #ffffff;
    padding: 50px 20px; 
    text-align: center;
}

.apartado-historia h2 {
    font-size: 50px;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    margin-top: 50px;
    margin-bottom: 20px;
    color: #333333;
}

.apartado-historia p {
    font-size: 18px;
    margin-left: 20%;
    margin-right: 20%;
    line-height: 1.5;
    color: #666666;
    
}

.apartado-historia img {
    margin-top: 7px; 
    max-width: 100%;
    height: auto;
    align-content: center;
}
.formulario{
padding-bottom: 5%;
margin: 5%;


}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
input[type="email"],
input[type="tel"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

textarea {
    height: 150px;
    resize: vertical;
}

input[type="submit"] {
    background-color: #af4c4c;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

input[type="submit"]:hover {
    background-color: #a04545;
}

/*ESTILOS DEL HEADER*/
.logo-img {
    width: 100px;
    height: 80px;
    padding-left: 50px
}


.botones {
    display: flex;
    align-items: center;
}

.boton {
    margin-right: 20px;
    padding: 5px 10px;
    background-color: #ffffff;
    color: black; 
    font-family: Arial, sans-serif; 
    cursor: pointer;
    border-radius: 5px;
    border: black 5px double; 
}

.boton p {
    margin: 0;
}
header {
    width: 100%;
}
header .pin-logo{
    height: 30px;
    width: 30px;
}

.cabecera_sup {
    background-color: rgb(255, 255, 255);
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-between;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: larger;
}

.cabecera_roja {
    background-color: rgb(117, 0, 0);
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    padding-left: 30%;
    padding-right: 30%;
}


.bloques {
    flex: 1;
    box-sizing: border-box;
    align-items: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: medium;
}

.enlace-blanco {
    color: white;
    text-decoration: none; 
}

/*ESTILOS FOOTER*/
footer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #8b0606;
    padding: 1rem;
    color: #fff;
}
footer .x-logo{
    height: 30px;
    width: 30px;
}
footer .insta-logo{
    height: 40px;
    width: 40px;
}
footer .face-logo{
    height: 40px;
    width: 40px;
}

/* Estilos para pantallas de hasta 768px de ancho (móviles) */
@media (max-width: 768px) {
    /*HEADER*/
    header {
        flex-direction: column;
        padding: 10px;
    }

    .logo-img {
        width: 80px;
    }

    .cabecera_sup {
        flex-direction: row;
        font-size: medium;
        padding: 10px;
    }

    .cabecera_roja {
        flex-direction: column;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 5%;
    }

    .bloques {
        padding-bottom: 5%;
    }

    .botones {
        margin-left: 0%;
        align-items: center;
    }

    .boton {
        margin-right: 10%;
        margin-bottom: 10px;
    }

    .place-order-options {
        position: static; 
        width: auto; 
        padding: 20px; 

    }

    .place-order-options a {
        font-size: 0.9rem; 
        padding: 8px; 
    }
    /*FIN HEADER*/

    .carousel {
        flex-direction: column;
    }

    .carousel img {
        width: 100%;
    }

    .publicidad {
        padding-left: 5%;
        padding-right: 5%;
    }

    .cajas {
        flex-direction: column;
        margin: 10px 0;
    }

    .subcaja {
        padding: 15px;
    }

    .subcaja h1 {
        font-size: 3ch;
    }

    .subcaja p {
        font-size: 16px;
    }
    
    .publicidad img,
    #flecha {
        width: 100%;
        height: auto;
    }
}

/* Estilos para pantallas de hasta 480px de ancho (móviles pequeños) */
@media (max-width: 480px) {
    .logo-img {
        width: 80px;
    }

    .boton {
        width: 100%;
        text-align: center;
    }

    .cabecera_sup {
        font-size: small;
    }

    .cabecera_roja {
        padding-left: 5%;
        padding-right: 5%;
    }

    .menu-item-destacado1,
    .menu-item-destacado2,
    .menu-item-destacado3,
    .menu-item-destacado4 {
        width: 150px;
        height: 150px;
        margin: 10px;
    }

    #imagen {
        height: 300px;
    }

    .publicidad img,
    #flecha {
        width: 100%;
        height: auto;
    }

    .apartado-historia p{
        margin-left: 5%;
        margin-right: 5%;
    }

    .empleado-mes .image-box {
        justify-content: center;
        align-items: center;
    }

    .empleado-mes .description-box {
        margin-top: 80%;
    }
    
}
